<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <script type="text/javascript" src="../asset/js/jquery/3.5.1/jquery.min.js"></script>
        <script type="module" src="../asset/js/index.js"></script>
        <link type="text/css" rel="stylesheet" href="../asset/css/base.css"/>
        <link type="text/css" rel="stylesheet" href="../asset/css/component/bookshelf.css"/>
        <link type="text/css" rel="stylesheet" href="../asset/css/index.css"/>
    </head>
    <body>
        <div id="topContainer">
            <div id="headerLeft"></div>
            <div id="headerContainer"></div>
        </div>
        <div id="contentContainer">
            <div id="leftFrame"></div>
            <div id="mainFrame">
                <div id="mainContainer"></div>
            </div>
            <div id="modalFrame">
                <div id="validateModalContainer"></div>
                <div id="bookInfoModalContainer"></div>
            </div>
        </div>
    </body>
</html>
