<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>我的订单</title>
        <script type="text/javascript" src="../asset/js/jquery/3.5.1/jquery.min.js"></script>
        <script type="module" src="../asset/js/user_orders.js"></script>
        <link type="text/css" rel="stylesheet" href="../asset/css/base.css"/>
        <link type="text/css" rel="stylesheet" href="../asset/css/shopping_cart.css"/>
        <link type="text/css" rel="stylesheet" href="../asset/css/user_orders.css"/>
    </head>
    <body>
        <div id="topContainer">
            <div id="headerLeft"></div>
            <div id="headerContainer"></div>
            <div id="headerRight"></div>
        </div>
        <div id="contentContainer">
            <div id="mainFrame">
                <div id="mainContainer"></div>
            </div>
        </div>
    </body>
</html>
