<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
        <!-- 先导入jquery再运行这个页面，测试静态资源是否启用 -->
        <!--        <script src = "/public/js/jQuery/jquery-3.5.1.js"></script>-->
        <!--        <script>-->
        <!--            $(function () {-->
        <!--                $('#div').html('hello, world')-->
        <!--            })-->
        <!--        </script>-->
    </head>
    <body>
        <div id = "div"></div>
    </body>
</html>