<div id="bookInfoModal">
    <div id="modalContainer">
        <button id="closeBookInfo">关闭</button>
        <div id="bookInfoContainer">
            <div id="leftSide">
                <img id="cover" src="../asset/img/default-cover/default-cover-0.jpg" alt="" title=""/>
            </div>
            <div id="rightSide">
                <div id="row0">
                    <div id="titleWrapper">
                        <span class="label">标题: </span>
                        <span id="title">标题测试...</span>
                    </div>
                    <div id="authorWrapper">
                        <span class="label">作者: </span>
                        <span id="author">作者测试...</span>
                    </div>
                    <div id="isbnWrapper">
                        <span class="label">ISBN: </span>
                        <span id="isbn">201736025030...</span>
                    </div>
                </div>
                <div id="row1">
                    <div id="price">
                        <span class="sign"></span>
                        <span class="priceNum">199.99</span>
                    </div>
                    <div id="salesWrapper">
                        <span class="label">销量: </span>
                        <span id="sales">71W+</span>
                    </div>
                </div>
                <div id="row2">
                    <div id="pressWrapper">
                        <span class="label">出版社: </span>
                        <span id="press">出版社测试...</span>
                    </div>
                    <div id="publicationDateWrapper">
                        <span class="label">出版日期: </span>
                        <span id="publicationDate">2017-02-23</span>
                    </div>
                    <div id="typeWrapper">
                        <span class="label">类别: </span>
                        <span id="type">科技...</span>
                    </div>
                </div>
                <div id="row3">
                    <span class="label">简介: </span>
                    <p id="brief">简介...</p>
                </div>
                <div id="row4">
                    <button id="addToCart">加入购物车</button>
                    <button id="payNow">立即购买</button>
                </div>
            </div>
        </div>
    </div>
</div>