<div id="header">
    <div id="functionAreaWrapper">
        <div id="functionArea">
            <a href="./index.html"></a>
            <form id="searchForm" action="./search-results.html">
                <input name="searchKey" type="text"/>
                <input type="submit" value="搜索"/>
            </form>
        </div>
    </div>
    <div id="userPanelWrapper">
        <div id="cartIcon"></div>
        <div id="userPanel">
            <a id="loginButton" href="./login.html">登录</a>
            <a id="registerButton" href="./register.html">注册</a>
            <a id="user" href="javascript:void(0)">
                <img src="../asset/img/icon/default-avatar-icon.jpg" height="48px" width="48px">
                我的
            </a>
            <ul id="userOptions" class="dropDown">
                <li><a href="./user-info.html">个人信息</a></li>
                <li><a href="./shopping-cart.html">我的购物车</a></li>
                <li><a href="./user-orders.html">我的订单</a></li>
                <li><a href="javascript:void(0)">退出</a></li>
            </ul>
        </div>
    </div>
</div>