<div class="validateBox">
    <form id="loginForm" method="post" action="index.html">
        <div class="formRow">
            <h1 id="caption">欢迎回来</h1>
        </div>
        <div class="formRow">
            <label for="username" class="icon"></label>
            <input type="text" id="username" name="username" placeholder="请输入用户名" maxlength="12"/>
            <div id="usernamePrompt" class="promptInfo"></div>
        </div>
        <div class="formRow">
            <label for="password" class="icon"></label>
            <input type="password" id="password" name="password" placeholder="请输入密码" maxlength="20"/>
            <div id="passwordPrompt" class="promptInfo"></div>
        </div>
        <div class="formRow">
            <img id="captchaImage" src="captcha_generator"/>
            <input type="text" id="captcha" name="captcha" placeholder="请输入六位验证码" maxlength="6"/>
            <div id="captchaPrompt" class="promptInfo"></div>
        </div>
        <div id="clickable" class="formRow shorterRow">
            <input type="submit" value="登录"/>
            <span id="lastCheckInfo">信息填写有误, 请核实!</span>
            <a id="loginButton" href="register.html">没有账号? 立即注册</a>
        </div>
    </form>
</div>