<!--验证用户登录的Modal窗体-->
<div id="validateModal">
    <div id="modalContainer">
        <div id="optionButton">
            <input type="radio" name="option" id="loginOption" checked/><label for="loginOption">登录</label>
            <input type="radio" name="option" id="registerOption"/><label for="registerOption">注册</label>
            <button id="closeValidateModal">关闭</button>
        </div>
        <!--可能要对登录/注册表单进行目标重定向, 在JS里修改-->
        <div id="validateBoxContainer"></div>
    </div>
</div>
