<!--用在detailed-class页面上的组件-->
<!--div#rankListContainer是榜单容器-->
<div id="rankListContainer">
    <!--div#rankListTitle是榜单标题-->
    <div id="rankListTitle">畅销榜单</div>
    <!--ul#rankList是一个畅销榜单-->
    <ul id="rankList">
        <!--li.unfold是一个展开的项目-->
        <!--li.top3代表前三个项目, 这个class只能被前三个项目拥有-->
        <li class="unfold top3">
            <!--span.rankNum是一个项目编号(排名)-->
            <span class="rankNum">1</span>
            <!--div.rankContent是一个项目内容容器-->
            <div class="rankContent">
                <!--a.titleImage是一个项目图片链接, 必须内嵌一个img-->
                <a id="rankListTitleImage{index}" class="titleImage" href="#" title="书名"><img src="#" alt="书名"/></a>
                <!--div.itemInfo是一个项目信息容器-->
                <div class="itemInfo">
                    <!--a.title是一个项目标题(书名)-->
                    <a id="rankListTitle{index}" class="title" href="#" title="书名">书名</a>
                    <!--span.price是一个项目价格标签, 其中的span.sign用于显示单位-->
                    <span class="price"><span class="sign">￥</span>199.99</span>
                    <!--span.rankListIsbn是ISBN, 隐藏字段, 用于标识一本书-->
                    <span id="rankListIsbn{index}" class="rankListIsbn"></span>
                </div>
            </div>
        </li>

        <li class="fold top3"></li>
        <li class="fold top3"></li>

        <!--li.unfold是一个折叠的项目-->
        <li class="fold"></li>
        <li class="fold"></li>
        <li class="fold"></li>
    </ul>
</div>