#mainFrame {
    width: 80%;
    /*height: 100vh;*/
    margin: 0 auto;
    /*background-color: lightslategrey;*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#leftContainer {
    flex-basis: 30%;
    /*background-color: #0075b9;*/
    position: relative;
    top: 10px;
}

#mainContainer {
    flex-basis: 70%;
    background-color: #f8f8f8;
    position: relative;
    top: 10px;
}

/*榜单样式*/
#rankListTitle {
    text-align: center;
    color: #fff;
    background-color: #ff4f4f;
    padding: 15px 0;
    margin-bottom: 5px;
}

#rankListContainer {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    background-color: #fff;
    border: 1px #fff solid;
}

#rankList {
    list-style: none;
    padding: 0 10px;
    margin: 0;
}

#rankList li {
    margin: 10px 0;
    position: relative;
}

#rankList li::after {
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-bottom: 1px #c6c6c7 solid;
}

#rankList li:nth-last-child(1)::after {
    border: none;
}

#rankList li .rankNum {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
}

#rankList .top3 .rankNum  {
    color: #d10000;
}

#rankList .rankContent {
    position: relative;
    left: 10%;
    width: 80%;
    margin: 0;
}

/*项目展开时的样式*/
.unfold .rankContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.unfold .rankContent .titleImage img {
    width: 100px;
}

.unfold .rankContent .titleImage:hover img {
    opacity: 75%;
}

.unfold .rankContent .itemInfo {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*无论项目展开与否, 标题都有的公共样式*/
#rankList .rankContent .title {
    text-decoration: none;
    color: #5b616c;
}

#rankList .rankContent .title:hover {
    color: #ff4f4f;
}

/*封面图片和标题的关联样式*/
#rankList .unfold .rankContent .titleImage:hover + .itemInfo .title {
    color: #ff4f4f;
}

.unfold .rankContent .price {
    color: #fe272e;
}

/*项目收起时的样式*/
.fold .titleImage, .fold .price {
    display: none;
}


/*书架样式*/
.bookContainer {
    flex-basis: 22%;
    font-size: 20px;
}

/*隐藏ISBN, 只在查数据库时使用*/
.itemInfo .rankListIsbn {
    display: none;
}
