#mainFrame {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

#mainContainer {
    flex-basis: 100%;
    background-color: #f8f8f8;
    position: relative;
    top: 10px;
}

/*书架样式*/
.bookContainer {
    flex-basis: 18%;
}