#bookshelfContainer {
    width: 90%;
    margin: 20px auto;
}

.bookshelf {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bookContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px #fff solid;
    align-items: center;
    margin: 10px;
    background-color: #fff;
}

.bookContainer:hover {
    box-shadow: 0 0 5px #5b616c;
    opacity: 75%;
}

.bookContainer .cover {
    flex-basis: 65%;
    width: 150px;
}

.bookContainer .title {
    flex-basis: 10%;
}

.bookContainer .author {
    flex-basis: 10%;
}

.bookContainer .price {
    flex-basis: 15%;
    color: #fe272e;;
}

/*隐藏ISBN, 只在查数据库时使用*/
.bookContainer .isbn {
    display: none;
}
