#header {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

/*框架样式*/
#functionAreaWrapper, #cartIconWrapper, #userPanelWrapper {
    align-items: center;
    display: inline-flex;
}

/*功能区样式*/
#functionAreaWrapper {
    flex-basis: 80%;
    justify-content: flex-start;
    padding-left: 10px;
}

#functionArea {
    display: inline-flex;
    width: 95%;
}

#functionArea a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("../../img/icon/home-icon.png") no-repeat center;
}

/*功能区表单样式*/
#searchForm {
    width: 70%;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#searchForm input[type="text"] {
    width: 70%;
    height: 80%;
    outline: none;
    padding-left: 10px;
    border: 1px solid #ff6161;
    border-radius: 50px;
    font-size: 20px;
}

#searchForm input[type="submit"] {
    width: 20%;
    height: 80%;
    outline: none;
    border: 1px solid #ff6161;
    border-radius: 50px;
    color: #fff;
    background-color: #ff6161;
    font-size: 20px;
}

#searchForm input[type="submit"]:hover {
    background-color: #e1251b;
}

/*用户区域样式*/
#userPanelWrapper {
    flex-basis: 20%;
    padding-right: 10px;
    justify-content: space-between;
}

#cartIcon {
    width: 48px;
    height: 48px;
    position: relative;
    background: url("../../img/icon/shopping-cart-icon.png") no-repeat center;
}

#cartIcon::after {
    content: "999+";
    position: relative;
    left: 38px;
    background-color: #ff6161;
    color: #fff;
    border-radius: 50px;
    padding: 2px 5px;
}

#cartIcon:hover::after {
    background-color: #e1251b;
}

#userPanel {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
}

#userPanel #user, #loginButton, #registerButton {
    margin: 0 10px;
}

#userPanel #user img {
    display: inline-block;
    position: relative;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

#userPanel #user::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    border-top: 5px #ff6161 solid;
    border-left: 5px transparent solid;
    border-right: 5px transparent solid;
}

#userPanel:hover #userOptions {
    display: block;
}

#userOptions {
    position: absolute;
    top: 52px;
    right: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px rgba(0,0,0,0.15) solid;
    border-radius: 5px;
    text-align: center;
    display: none;
}

#userOptions li {
    list-style: none;
    margin: 15px 0;
    font-size: 16px;
}

#loginButton, #registerButton, #user,
#userOptions li a, #userOptions li a:visited {
    color: #ff6161;
    text-decoration: none;
}

#loginButton:hover, #registerButton:hover,
#user:hover, #userOptions li a:hover {
    color: #e1251b;
}
